@import "../../variables";

.side-bar {
  width: 280px;
  padding-top: 30px;
}

.side-bar__item {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-left: 45px;
  height: 38px;
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }
}

.side-bar__item--active {
  background-color: $link-water-blue;
  color: $jordy-blue;
}
