@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('MuseoSansCyrl'),
  url('./MuseoSansCyrl-300.woff2') format('woff2')
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('MuseoSansCyrl'),
  url('./MuseoSansCyrl-500.woff2') format('woff2')
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('MuseoSansCyrl'),
  url('./MuseoSansCyrl-700.woff2') format('woff2')
}
