$gun-powder-black: #43425D; // main text color
$trout-gray: #4D4F5C;
$athens-gray: #E9E9F0;
$pelorous-gray: #39B2C2;
$turquoise-blue: #67E6BD;
$jordy-blue: #79B7EE;
$sweet-pink-red: #FDA1AC;


$button-gradient: linear-gradient(to left, $jordy-blue, $turquoise-blue);
