$gun-powder-black: #43425D; // main text color
$trout-gray: #4D4F5C;
$athens-gray: #E9E9F0;
$pelorous-gray: #39B2C2;
$light-gray: #F3F3F3;
$dark-gray: #333333;
$sweet-pink-red: #FDA1AC;
$turquoise-blue: #67E6BD;
$logan-blue: #ADB3D0;
$link-water-blue: #EFF2FB;
$jordy-blue: #79B7EE;
$cadet-blue: #A5A4BF;
