@import "variables";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  color: $gun-powder-black;
}

.app {
  box-shadow: inset gray 0 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app__content {
  display: flex;
}

.app__page {
  width: 100%;
  background-color: $light-gray;
}
