@import "variables";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  width: 100%;
  height: 100%;
  color: $gun-powder-black;
}

#app {
  box-shadow: inset gray 0 0 10px;
}
